.nav-items a{
    text-decoration: none;
    padding: 10px;
    color: black;
    font-size: 18px;
}
.nav-items a:hover{
    color: rgba(var(--bs-link-color-rgb),var(--bs-link-opacity,1));
}
#navbar-brand-name{
    text-decoration: none;
    font-size: 40px;
    font-weight: 700;
}
.logOut-button:hover{
    color: red;
    cursor: pointer;
}
@media only screen and (max-width:425px) {
    #navbar-brand-name{
        font-size: 30px;
    }
    .nav-items a{
        font-size: 16px;
        padding: 6px;
    }
}