.nav-items a{
    text-decoration: none;
    padding: 10px;
    color: black;
    font-size: 18px;
}
.nav-items a:hover{
    color: rgba(var(--bs-link-color-rgb),var(--bs-link-opacity,1));
}
#navbar-brand-name{
    text-decoration: none;
    font-size: 40px;
    font-weight: 700;
}